<h1><%= "Hello #{current_user.email}" %> Pages#home</h1>
<% if user_signed_in? %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Log in", new_user_session_path %><br>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
<p>You can test the API with follwing credenatials.</p>
<div class="container">
  <%= @application.as_json %>
  <div class="ul">
    <li><%= link_to 'Web books', books_path %> </li>
    <li><%= link_to 'API V1 Books', api_v1_books_path %></li>
    <li><%= link_to 'API V1 Android Books', api_v1_android_books_path %> </li>
  </div>
</div>
